@* مسیر: Views/Shared/_Layout.cshtml *@
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <title>اینجا رفهاب</title>

<partial name="PartialViews/_Meta" />

    <partial name="PartialViews/Scripts" />

    <partial name="PartialViews/stylesheet" />

    @RenderSection("HeadScripts", required: false)
</head>

<body>
    @* @Html.Partial("PartialViews/_Header") *@
    <partial name="PartialViews/_Header" />

    <main>
        @RenderBody()
    </main>

    @* @Html.Partial("PartialViews/_Footer") *@
    <partial name="PartialViews/_Footer" />

    <div class="back-top">
        <i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i>
    </div>

    <partial name="PartialViews/ScriptLinks" />



    @RenderSection("Scripts", required: false)

</body>
</html>
